.footer {
    margin-top: 160px;
  }
  .main {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    .logo-wrapper {
      height: 40px;
      img {
        max-height: 100%;
      }
    }
    .list-group {
      padding: 0;
      .list-item {
        font-size: 80px;
        font-weight: 900;
        line-height: 96px;
        &:last-child {
          margin-top: 8px;
        }
      }
    }
  }
  .sub {
    display: flex;
    align-items: center;
    height: 88px;
    border-top: 1px solid #fff;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    .link-list {
      display: flex;
      margin-left: 100px;
      padding: 0;
    }
    .link {
      margin-right: 20px;
    }
  }
  .to-top-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    background-color: #000;
    border: none;
    &:hover {
      cursor: pointer;
    }
    span {
      margin-left: 14.67px;
      font-size: 10.67px;
    }
  }
  
@media (max-width: 768px) {
  .footer {
    .main {
      flex-direction: column-reverse;
      .list-group {
        margin-top: 40px;
        .list-item {
          font-size: 48px;
          line-height: 57.6px;
        }
      }
    }
    .sub {
      display: block;
      height: 148px;
      &-title {
        margin: 32px 0;
      }
      .link-list {
        margin: 36px 0 32px;
      }
    }
    .to-top-btn {
      margin-top: 20px;
    }
  }
}