.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #fff;

    .logo-wrapper {
        height: 40px;

        .logo-img {
            max-height: 100%;
        }
    }

    .nav-group {
        display: flex;
        align-items: center;

        .nav-item {
            font-size: 16px;
            line-height: 24px;
            margin-left: 20px;
        }
    }

    .navbar-collapse-btn {
        display: none;
        color: #fff;
        background-color: #000;
        border: none;

    }
}

@media (max-width: 768px) {
    .header {
        .nav-group {
            display: none;
        }

        .navbar-collapse-btn {
            display: block;
        }
    }
}