.service {
    margin-top: 160px;
    .wrapper {
      display: flex;
      justify-content: space-between;
      .service-title {
        margin: 0;
        width: 30%;
        font-size: 32px;
        font-weight: 900;
        line-height: 38.4px;
      }
      .service-description {
        width: 856px;
        margin: 0;
        font-size: 48px;
        font-weight: 900;
        line-height: 57.6px;
        white-space: pre-line;
      }
    }
  }
  .service-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 0;
    .list-card {
      width: 32.3%;
      margin-right: 20px;
      padding: 80px 40px;
      border: 1px solid #525252;
      border-radius: 16px;
      &:last-child {
        margin-right: 0;
      }
      img {
        margin-bottom: 20px;
      }
      .card-title {
        font-size: 32px;
        font-weight: 900;
        line-height: 38.4px;
      }
      .card-content {
        margin-top: 20px;
        line-height: 1.5;
      }
    }
  }

  @media (max-width: 992px) {
    .service {
      .wrapper {
        display: block;
        .service-title {
          width: 100%;
          font-size: 20px;
          line-height: 24px;
        }
        .service-description {
          max-width: 100%;
          margin-top: 24px;
          font-size: 32px;
          line-height: 38.4px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .service-list {
      display: block;
      margin-top: 48px;
      .list-card {
        margin-top: 20px;
        width: calc(100% - 40px);
        padding: 40px 20px;
      }
    }
  }